*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color1: hsl(179, 62%, 43%);
  --main-color2: hsl(71, 73%, 54%);
  --neutral-color1: hsl(204, 43%, 93%);
  --neutral-color2: hsl(218, 22%, 67%);
  --main-font: "Karla", sans-serif;
  --title-size: 32px;
  --para-size: 16px;
  --mobile-width: 375px;
  --desktop-width: 1440px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--neutral-color1);
  font-family: var(--main-font);
  font-size: var(--para-size);
}

.component {
  display: flex;
  flex-direction: column;
  max-width: var(--mobile-width);
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.card2,
.card3 {
  background-color: var(--main-color1);
}

.card3 {
  opacity: 0.8;
}

.card {
  min-width: 100%;
  padding: 0.5rem 1.5rem;
}

.card-text {
  line-height: 30px;
}

/* Card 1 styles */

.card1 {
  background-color: #fff;
}

.card1 > .card-title {
  color: var(--main-color1);
}

.green {
  font-weight: 700;
  color: var(--main-color2) !important;
  padding-right: 0.5rem;
  margin-bottom: 1.6rem;
}

.card1 > .card-text {
  color: var(--neutral-color2);
}

/* card 2 styles */

.card2 > .card-title {
  color: var(--neutral-color1);
}

.price {
  font-size: var(--title-size);
  font-weight: 700;
  color: var(--neutral-color1);
}

.dim {
  color: var(--neutral-color2) !important;
}

.card2 > .card-text {
  color: var(--neutral-color1);
}

button {
  background: none;
  outline: none;
  border: none;
}

.sign-up {
  background-color: var(--main-color2);
  margin: 0 auto;
  width: 100%;
  color: var(--neutral-color1);
  font-size: var(--para-size);
  font-weight: 700;
  padding: 1rem 0;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: -1px 10px 15px -1px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: -1px 10px 15px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -1px 10px 15px -1px rgba(0, 0, 0, 0.52);
  cursor: pointer;
}

/* card 3 styles */

.card3 > .card-title {
    color: var(--neutral-color1);

}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    color: var(--neutral-color1);
}

/* desktop layout media query */

@media screen and (min-width: 800px){
    .component {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40% 60%;
        max-width: 800px;
    }

    .card {
        min-height: 100%;
        padding: 1rem 3rem;
    }

    .card1 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .card2 {
        grid-area: 2 / 1 / 2 / 2;
    }

    .card1 > .card-text {
        padding-right: 10rem;
    }

    .green {
        font-size: 20px;    
        margin-bottom: unset;
    }
    li {
        margin-bottom: 10px;
    }
}

/* attribution or footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
